<app-example-request [reqInfo]="requestInfo"></app-example-request>
<br>
<h2>Required parameters</h2>
<ul>
    <li>
        <span class="param-key">claims</span> - the claims which will be accessible by userinfo endpoint
        (if <strong>openid</strong> authorization detail type is requested). The <strong>sub</strong> claim must be
        requested (or already granted if <strong>grant_id</strong> is specified)
    </li>
    <li>
        <span class="param-key">client_notification_token</span> - required if client is registered to use
        <strong>Ping</strong> mode
    </li>
    <li>
        <span class="param-key">id_token_hint or login_hint</span> - one of these must be present. The
        <strong>login_hint</strong> value is by default treated as subject - unique user identifier
    </li>
</ul>
<h2>Optional parameters</h2>
<ul>
    <li>
        <span class="param-key">authorization_details</span> - see <a href="/rich_authorization_requests">Rich
            Authorization Requests</a>
    </li>
    <li>
        <span class="param-key">binding_message</span>
    </li>
    <li>
        <span class="param-key">user_code</span> - by default it's optional, but can be required by specific user. See
        <a href="/necessary_services">Implementing necessary services</a>
    </li>
    <li>
        <span class="param-key">grant_id, grant_management_action</span> - see <a
            href="https://openid.net/specs/fapi-grant-management.html#name-authorization-request">Grant Management
            RFC</a> It can be required, but it depends on provider configuration
    </li>
    <li>
        <span class="param-key">dpop_pkh</span> - see <a href="/demonstrating_proof_of_possession">Demonstrating Proof
            Of Possession</a>
    </li>
</ul>