<h1>
    You can use <strong>FAPIBuilder</strong> to configure these services or just register them as
    <strong>Scoped</strong>
</h1>
<br>
<h2>IUserService</h2>
<p>
    This service is responsible for providing claims for <strong>UserInfo endpoint</strong>, retrieving and validation
    CIBA context for concrete user.
</p>
<br>
<h2>ICibaNotificationService</h2>
<p>
    This service is responsible for informing users that some client want's to obtain authorization. <strong>For
        instance</strong> it can send e-mail message to user.
</p>