<div class="header">
    {{reqInfo.name}}
</div>

<mat-card id="sample">
    <mat-card-title id="sample-title">
        {{reqInfo.method}} {{reqInfo.path}}
    </mat-card-title>

    <mat-card-subtitle id="sample-headers" *ngFor="let header of reqInfo.headers | keyvalue">
        <span class="param-key">{{header.key}}</span>: {{header.value}}<br>
    </mat-card-subtitle>

    <mat-card-content id="sample-content">
        <span *ngFor="let param of reqInfo.parameters | keyvalue : avoidSorting; let i = index">
            <span class="param-key">{{param.key}}</span>=<span class="param-value">{{isString(param.value) ?
                param.value : param.value | json}}<span *ngIf="i != parametersCount-1">&</span></span>
            <br>
        </span>
    </mat-card-content>
</mat-card>
<br>
<p *ngIf="reqInfo.authorizationRequired">
    The request must be authorized using <strong>Authorization</strong> and the <strong>DPoP</strong> headers. See <a
        href="https://www.ietf.org/archive/id/draft-ietf-oauth-dpop-16.html#name-the-dpop-authentication-sch">DPoP
        RFC</a> and have in mind that <strong>FAPIServer</strong> uses PASETO instead of JWT.
</p>