<div id="container">
  <div id="menu-bar">
    <mat-action-list>
      <div class="list-subheader" mat-subheader>How to start</div>

      <span *ngFor="let howTo of howToStart">
        <button mat-list-item class="list-item" (click)="openDoc(howTo.docPath)">
          <div matListItemTitle class="list-item-title">{{howTo.name}}</div>
        </button>
        <mat-divider></mat-divider>
      </span>
    </mat-action-list>

    <mat-action-list>
      <div class="list-subheader" mat-subheader>Endpoints</div>

      <span *ngFor="let endpoint of endpoints">
        <button mat-list-item class="list-item" (click)="openDoc(endpoint.docPath)">
          <div matListItemTitle class="list-item-title">{{endpoint.name}}</div>
          <a *ngIf="endpoint.rfc != null" href="{{endpoint.rfc}}" target="_blank">RFC</a>
        </button>
        <mat-divider></mat-divider>
      </span>
    </mat-action-list>

    <mat-action-list>
      <div class="list-subheader" mat-subheader>General</div>

      <span *ngFor="let gen of general">
        <button mat-list-item class="list-item" (click)="openDoc(gen.docPath)">
          <div matListItemTitle class="list-item-title">{{gen.name}}</div>
        </button>
      </span>
    </mat-action-list>
  </div>

  <div id="description">
    <router-outlet></router-outlet>
  </div>
</div>