@import '~highlight.js/styles/github-dark.css';

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.header {
    font-size: 2.5em;
    margin-bottom: 1.5%;
    color: #FC7E15;
    font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #FC7E15;
}

.param-key,
.param-value {
    color: #FF3333;
}

.param-value {
    filter: brightness(.85);
}

a {
    color: inherit;
    animation: font-size-animation .5s linear infinite alternate;

}

@keyframes font-size-animation {
    from {
        font-size: 1em;
    }

    to {
        font-size: 1.02em;
    }
}